/* Load the font first so we can use it in our style sheet. */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* How we apply the custom font. */
/* font-family: 'Kaushan Script', cursive; */

* {
  margin: 0;
  padding: 0;
}

/* Add our custom font as the default font for the page. */
html {
  font-family: "Kaushan Script", cursive;
  /* Declare and use a full size image BG. */
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  /* This is a container for elements we want to stack using inline block. So, we need to zero out the font size. */
  font-size: 0;
}

.polaroid {
  width: 260;
  margin: 20px;
  /* 260 + 20 + 20 = 300 which stacks beautifully in our container. */
  display: inline-block;
}

/* descendant selector looking for a specific pattern of elements. */
/* Targets only the images inside of a polaroid div. */
.polaroid img {
  /* This is a common style for the image tag everywhere. */
  width: 100%;
  height: auto;
  border: 10px solid #ccc;
  border-bottom-width: 45px;
}

.polaroid p {
    /* 1rem = 16px, so 0.5rem = 8px, 2rem = 32px, etc. */
    font-size: 1rem;
}
