/* We write this together in class.

   You will need:
     .gallery-inclass
     .gallery-item-inclass  (display: inline-block, plus a fix for the
                              whitespace gap between cards)
*/
/* Universal Selector to Zero our Margins and Padding everywhere */
* {
  margin: 0;
  padding: 0;
}

/* Applies a default font family for every tag inside the body tag to inherit. */
body {
  font-family: helvetica, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
  /* Come back for the gotcha. We zero out the font size for the parent element (thing container element) so there is literally 0 space between our letters. */
  font-size: 0;
}

/* li display: black by default */
li {
  display: inline-block;
  /* When you zero out a font for inline block, don't forget to bright that font size back in the child element. */
  font-size: 16px;
  width: 100px;
  text-align: center;
}

li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: rgba(255,255,255, 0.5);
}